#container {
    display: grid;
    width: 100%;
    height: 100%;
    position: relative;
    
}

.logged {
    grid-template-columns: 330px auto;
    grid-template-rows: 1fr;
}

.not-logged {
    grid-template-columns: 1fr;
    grid-template-rows: 50px auto;
}

#main-content {
    /* width: 100%; */
    height: 100%;
    position: relative;
    overflow-y: auto;
}

@media screen and (max-width: 900px) {
    .not-logged {
        grid-template-rows: 150px auto;
    }
}