<div id="decline-request-container">
    <h1 mat-dialog-title class="orange" style="font-size: 1.3em; font-weight: 600; font-family: 'Poppins' !important" align="center">Generate request</h1>
    <p style="color: #A9A9A9; margin: 0;">Issued to SN.: {{ issuedTo }}</p>
    <div id="form-container" mat-dialog-content align="center">
        <form [formGroup]="requestForm" (ngSubmit)="submit()">
            <mat-form-field  id="cuisine-dd">
                <mat-label>Certificate type</mat-label>
                <mat-select (selectionChange)="searchByType($event)">
                  <mat-option *ngFor="let item of certType" [value]="item" >
                    {{item}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <mat-form-field class="date">
                <mat-label>Date of expiration</mat-label>
                <input matInput [matDatepicker]="picker" formControlName="date" >
                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
                <!-- <mat-error *ngIf="registerForm.get('date')?.errors?.['required']">entering date is required</mat-error> -->
                <!-- <mat-error *ngIf="registerForm.get('date')?.errors?.['dateAheadOfToday']  && !registerForm.get('date')?.errors?.['required']">invalid date format</mat-error> -->
              </mat-form-field>
              <button mat-button class="conf-button back-yellow" (click)="withdrawCertificate()">Submit</button>
        </form>
    </div>
    <!-- </div> -->
</div>
