button {
    margin: 16px auto 12px auto;
}

img {
    margin-top: 5px;
}

::ng-deep .mat-icon {
    color: #ffb703;
}


@media screen and (max-width: 450px)  {
    .default-container {
        width: 305px;
        margin-top: 45px;
    }

    form {
        width: 100%;
    }
}