<!-- <app-navbar #child></app-navbar> -->

<div class="default-container border">
    <h1 class="title dark-blue">Forgot your password?</h1>
    <p style="color: #A6A6A6; font-weight: 550; margin-top: 10px;">No worries! Just let us know your email and we’ll send you a reset email asap.</p>
    <img src="../../assets/forgot-password.svg" alt="" style="width: 100%; padding-right: 78px;" height="300px">
    <form [formGroup]="forgotPasswordForm" style="width: 100%;"(ngSubmit)="sendVerificationCode()">
        <mat-form-field *ngIf="clickedEmail == 'true'">
            <mat-label>Email</mat-label>
            <input matInput type="email" name="email" formControlName="email" />
            <mat-error *ngIf="forgotPasswordForm.get('email')?.errors?.['required']">entering email is required</mat-error>
            <mat-error *ngIf="forgotPasswordForm.get('email')?.errors?.['email']">invalid email format</mat-error>
            <mat-icon matPrefix>email</mat-icon>
        </mat-form-field>

        <mat-form-field *ngIf="clickedEmail == 'false'">
            <mat-label>Phone number</mat-label>
            <input matInput type="text" name="number" formControlName="number" />
            <mat-error *ngIf="forgotPasswordForm.get('number')?.errors?.['required']">entering number is required</mat-error>
            <mat-error *ngIf="forgotPasswordForm.get('number')?.errors?.['phonenumRegexError']">invalid number format</mat-error>
            <mat-icon matPrefix>number</mat-icon>
        </mat-form-field>
        <button type="submit" class="conf-button back-yellow" mat-raised-button>Send verification code</button>
    </form>
</div>