.certificate-card {
    background-color: white;
    border: 1px solid #c0c0c0;
    border-radius: 20px;
    color: #A6A6A6;
    padding: 15px;
    padding-top: 8px;
    box-shadow: 0 4px 2px -2px #B9BBBD;    width: 320px;
    height: fit-content;
    position: relative;
}

.certificate-icon {
    margin-top: 2px;
}

p, h1, h2 {
    margin: 0;
}

p {
    font-weight: 600;
    display: inline-block;
    margin-left: 10px;
}

h1 {
    margin-left: 90px;
    margin-top: 30px;
    margin-bottom: 25px;
}

#cert-validity-container, #validity-container{
    margin-left: 90px;
    /* background-color: white; */
    width: 55%;
}

#two-options-container {
    width: 100%;
    /* display: none; */
}

.option-container {
    width: 50%;
    font-size: 1.2em;
    font-family: 'Poppins';
    /* font-weight: 600; */
}

.weight-700{
    font-weight: 600;
}

.conf-button {
    display: inline-block !important;
    margin: 30px auto 12px auto;
    padding-left: 40px !important;
    padding-right: 40px !important;
    border-radius: 12px !important;
    color: white !important;
    font-size: 1.1em;
    font-weight: 600;
    transform: scale(1.05);
}

#validity-container{
    display: flex;
    margin-top: 20px;
    padding-left: 50px;
    padding-top: 10px;
}

form {
    width: 60%;
    text-align: center;
}

/* ::ng-deep .mdc-floating-label{
    margin-left: 40px;
    margin-top: -2px;
} */




@media screen and (max-width: 1200px) { 
    h1{
        margin-left: 63px;
    }
    #cert-validity-container,  #validity-container{
        margin-left: 63px;
        /* background-color: white; */
        width: 80%;
    }
} 

@media screen and (max-width: 1120px) { 
 #validity-container{
        /* background-color: white; */
        width: 75%;
    }
} 

@media screen and (max-width: 600px) { 
    .option-container {
        width: 100%;
        margin: 0 auto;
        display: block;
    }

    #cert-validity-container,  #validity-container{
        margin-left: auto;
        margin-right: auto;
    }

    .conf-button{
        display: block !important;
    }
    
    .resp-flex{
        flex-direction: column;
    }

    form {
        width: 100%;
        margin-bottom: -12px;
        margin-top: -15px
    }
} 
