#ver-container{
    display: flex;
    flex-direction: column;
    height: fit-content;
    width: 35%;
    text-align: center;
    margin: auto;
    
    
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

    /* min-width: 400px; */
}

h1 {
    font-weight: 700 !important;
    margin-bottom: 0px !important;
    color: #FB8500;
}

p {
    color: #A6A6A6;
    padding: 0 5px;
}

#img-div {
    height: 300px;
    margin: 0 auto;
}

img {
    height: 100%;
}

button {
    display: block;
    margin: 20px auto 20px auto;
    padding-left: 40px;
    padding-right: 40px;
    border-radius: 12px;
    color: white !important;
    font-size: 1em;
    font-weight: 600;
}

@media only screen and (max-width: 900px) {
    #img-div {
        height: 200px;
    }
}

@media only screen and (max-width: 700px) {
    #img-div {
        height: 150px;
    }

    #ver-container {
        width: 80%;
    }
}