a {
    text-decoration: none;
}

nav {
    font-size: 0.98rem;
    font-weight: bold;
}

/* CONTAINER */
.navbar,
.navbar > .container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  @media (max-width: 768px) {
    display: block;
  }
}


.navbar {
    box-shadow: 0 4px 2px -2px #B9BBBD;
        /* background-color: #1E4A5A; */
    border-bottom: 1px solid #eceef3;
    position: absolute;
    top: 0;
    left: 0
}

.pos-rel {
    position: relative !important;
}
 
.navbar.container {
    @media (min-width: 576px) {
        max-width: 540px;
      }
      @media (min-width: 768px) {
        max-width: 720px;
      }
      @media (min-width: 992px) {
        max-width: 960px;
      }
      @media (min-width: 1200px) {
        max-width: 1140px;
      }
}


/* NAVBAR_HEADER */
.navbar-header {
    padding-top: 0.8%;
    padding-bottom: 0.8%;
}

.container .navbar-header a {
    text-decoration: none;
    height: fit-content;
    font-weight: 600;
    font-size: 1.45rem;
    color: white;
    padding-top: 0.8%;
    padding-bottom: 0.8%;
    padding-left: 1.2rem;
    /* text-shadow: 1px 1px 1px #ffb703; */
}

/* NAVBAR-MENU ALL ITEMS */
.navbar-menu {
    display: flex;
    flex-basis: auto;
    flex-grow: 1;
    padding-right: 1rem;
    flex-direction: row-reverse;

    @media (max-width: 768px) {
      display: none;
      text-align: center;
    }
}

.navbar-nav {
    margin-left: auto;
    flex-direction: row;
    display: flex;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

.navbar-menu  a {
    text-decoration: none;
    display: inline-block;
    padding: 0.5rem 0.5rem;
    color: white;
    /* font-weight: lighter; */
    font-weight: 600;
    /* letter-spacing: 0.2px; */
    margin-right: 2px;
}

.navbar-nav a:not([id="sign-up-option"]) {
    color: #ffb703;
}

.navbar-menu a:hover {
    color: #337D98;
    cursor: pointer;
}

.navbar-toggler {
    cursor: pointer;
    border: none;
    display: none;
    outline: none;
    padding-right: 1.2rem;
}

.navbar-toggler > div {
    width: 33px;
    height: 3px;
    background-color: #ffb703;
    margin: 6px 0;
}

#sign-up-option{
    padding-left: 12px;
    padding-right: 12px;
    color: white;
}
/* SCREEN DIFFERENCE */

/* sign-up-option button */

@media screen and (min-width: 900px) {
    #sign-up-option {
        border-radius: 10px;
    }
    
}



@media screen and (max-width: 900px) {

    .navbar-toggler {
        display: block;
        background-color: white !important;
    }

    #sign-up-option {
        
        color: #ffb703 !important;
        background-color: white !important;
    }

    .navbar-header {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: row;
    }

    .navbar-menu {
        display: none;
        text-align: center;
        padding: 0;
    }

    .navbar-nav {
        width: 100%;
        display: flex;
        flex-direction: column;
        border-top: 1px solid #EEE;
        margin-top: 0.2rem;
    }

    .navbar-menu a {
        background-color:white !important;
    }
}


  


