.row {
    display: flex;
    flex-direction: row;
}

.column {
    display: flex;
    flex-direction: column;
}

#body {
    width: 100%;
    height: 100%;
}

#main-container {
    width: 70%;
    height: 80%;
    margin: auto;
    background-color: white;
    border: 1px solid #A6A6A6;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}


#left {
    width: 50%;
    height: 100%;
    text-align: center;
}

#left > img {
    width: 83%;
    height: 100%;
    padding-left: 50px;
}


#right {
    width: 50%;
    height: 100%;
}

h2 {
    margin: 25px auto 0 auto;
    font-weight: 400 !important;
    font-size: 1.85em !important;
}

p {
    color: #A6A6A6;
    text-align: center;
    font-weight: 550;
    font-size: 1.15em;
}

#subtitle-p{
    padding: 0px 20px 0px 20px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

b {
    color: #FB8500;
    font-weight: 500;
}


/* CARDS */

#cards {
    width: 80%;
    height: 43%;
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
}

.card {
    width: 35%;
    margin: 0 auto;
    border-radius: 20px;
    padding: 0 12px;
    box-shadow: 0 3px 2px -2px #B9BBBD;    
    /* padding: 0 15px; */
}

.card:hover{
    cursor: pointer;
    opacity: 0.90;
}

.not-clicked-card {
    border: 2px solid #C7C7C7;
}

.clicked-card {
    border: 2.5px solid #58A264;
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
}

h1 {
    margin: 30px auto 0px auto;
    color: #FB8500;
    font-size: 2.2em;
    /* margin-top: 40px; */

}

button {
    margin-top: 60px !important;
}

button:hover {
    cursor: pointer;
}


@media only screen and (max-width: 1050px) {
    #left {
        display: none;
    }

    #main-container {
        width: 60%;
    }

    #right {
        width: 100%;
    }

    h1 {
        font-size: 2rem;
    }
}

@media only screen and (max-width: 590px) {

    .card {
        width: 35%;
        margin-left: 0;
        margin-right: 0;
    }

    #cards {
        width: 100%;
        justify-content: space-around;
    }

    #main-container {
        width: 94%;
    }
}

.mat-mdc-snack-bar-container {
    --mat-mdc-snack-bar-button-color: #ffffff;
    --mdc-snackbar-supporting-text-color: #ffffff;
  }
  .mat-mdc-snack-bar-container.app-notification-error {
    --mdc-snackbar-container-color: #f23a2f;
  }
  .mat-mdc-snack-bar-container.app-notification-success {
    --mdc-snackbar-container-color: #43a446;
  }
  