.row {
    display: flex;
    flex-direction: row;
}

.column {
    display: flex;
    flex-direction: column;
}

#body {
    width: 100%;
    height: 100%;
}

#main-container {
    width: 80%;
    height: 80%;
    margin: auto;
    background-color: white;
    border: 1px solid #A6A6A6;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}


#left {
    width: 50%;
    height: 100%;
}

#left > img {
    width: 100%;
    height: 100%;
}


#right {
    width: 50%;
    height: 100%;
}

h2 {
    margin: 15px auto 0 auto;
}

p {
    color: #A6A6A6;
    text-align: center;
}

b {
    color: #FB8500;
}


/* CARDS */

#cards {
    width: 100%;
    height: 43%;
    margin-top: 25px;
}

.card {
    width: 35%;
    margin: 0 auto;
    border-radius: 20px;
    /* padding: 0 15px; */
}

.not-clicked-card {
    border: 1px solid #A6A6A6;
}

.clicked-card {
    border: 1px solid #FFB703;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

h1 {
    margin: 30px auto;
    color: #FB8500;
    /* margin-top: 40px; */

}


button {
    margin: auto auto 30px auto;
    padding: 15px 30px;
    border-radius: 20px;
    border: none;
    color: white !important;
    font-size: 1em;
    font-weight: 600;
    background-color: #FFB703;
}

button:hover {
    cursor: pointer;
}


@media only screen and (max-width: 900px) {
    #left {
        display: none;
    }

    #right {
        width: 100%;
    }

    h1 {
        font-size: 1.5rem;
    }
}

@media only screen and (max-width: 500px) {

    .card {
        width: 42%;
    }

    #main-container {
        width: 94%;
    }
}