<div id="body" class="column">
    <app-navbar></app-navbar>

    <div style="display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;" id="main-container">
        <div id="left">
            <img src="../../assets/verification-choice.svg" alt="">
        </div>
        <div id="right" class="column">
            <h2>Almost done!</h2>
            <p>Let us know where you want us to send you a <b>verification code</b>. After verifying your account, you can logijn and use Certivus.</p>
            <div id="cards" class="row">
                <div class="card column">
                    <h1>SMS</h1>
                    <p>The verification code we’ll be sent to the phone number you provided.</p>
                </div>
                <div class="card column">
                    <h1>EMAIL</h1>
                    <p>The verification code we’ll be sent to the email address you provided.</p>
                </div>
            </div>

            <button>Send verification code</button>
        </div>
    </div>
</div>