<div class="border default-container">
    <h1 class="password-change-title">Recover password</h1>
    <p style="color: #A6A6A6; font-weight: 550; margin-top: 10px;">Type in current password...</p>
    <form [formGroup]="passwordRotationForm" (ngSubmit)="rotatePassword()">
        <mat-form-field class="height-50" style="margin-top: 0;">
            <mat-label>Current password</mat-label>
            <input matInput [type]="isFirstVisible? 'text' : 'password'"  name="old-password" formControlName="old_password" />
            <mat-icon id="eye-icon" matSuffix (click)="isFirstVisible = !isFirstVisible">{{isFirstVisible ? 'visibility' : 'visibility_off'}}</mat-icon>
            <mat-error *ngIf="passwordRotationForm.get('old_password')?.errors?.['required']">entering password is required</mat-error>
            <mat-error *ngIf="passwordRotationForm.get('old_password')?.errors?.['passwordRegexError']  && !passwordRotationForm.get('old_password')?.errors?.['required']">one upper, lower and digit</mat-error>
          </mat-form-field>
          
          <p style="color: #A6A6A6;
            font-weight: 550;
            margin-top: 20px;
            margin-bottom: -5px">and now enter new password and confirm it.</p>
          <mat-form-field class="height-50">
            <mat-label>New password</mat-label>
            <input matInput [type]="isSecondVisible? 'text' : 'password'"  name="new-password" formControlName="new_password" />
            <mat-icon id="eye-icon" matSuffix (click)="isSecondVisible = !isSecondVisible">{{isSecondVisible ? 'visibility' : 'visibility_off'}}</mat-icon>
            <mat-error *ngIf="passwordRotationForm.get('new_password')?.errors?.['required']">entering password is required</mat-error>
            <mat-error *ngIf="passwordRotationForm.get('new_password')?.errors?.['passwordRegexError']  && !passwordRotationForm.get('new_password')?.errors?.['required']">one upper, lower and digit</mat-error>
          </mat-form-field>
          <mat-form-field class="height-50">
            <mat-label>Confirm new password</mat-label>
            <input matInput [type]="isThirdVisible? 'text' : 'password'" name="conf-password" formControlName="confpass"/>
            <mat-icon id="eye-icon" matSuffix (click)="isThirdVisible = !isThirdVisible">{{isThirdVisible ? 'visibility' : 'visibility_off'}}</mat-icon>
            <mat-error *ngIf="passwordRotationForm.get('confpass')?.errors?.['required']">confirming password is required</mat-error>
            <mat-error *ngIf="passwordRotationForm.errors?.['passwordMismatchError']">passwords don't match</mat-error>
          </mat-form-field>
        <button class="conf-button back-yellow" mat-raised-button type="submit">Submit</button>
    </form>
</div>