<app-navbar #child></app-navbar>
<div class="border default-container">
    <h1 class="title">Reset password</h1>
    <form [formGroup]="resetPasswordForm" (ngSubmit)="resetPassword()">
            <mat-form-field class="height-45">
            <mat-label>New password</mat-label>
            <input matInput type="password" name="password" formControlName="password" />
            <mat-error *ngIf="resetPasswordForm.get('password')?.errors?.['required']">entering password is required</mat-error>
            <mat-error *ngIf="resetPasswordForm.get('password')?.errors?.['passwordRegexError']  && !resetPasswordForm.get('password')?.errors?.['required']">incorrect input/min 6 char</mat-error>
          </mat-form-field>
          <mat-form-field class="height-45">
            <mat-label>Confirm new password</mat-label>
            <input matInput type="password" name="conf-password" formControlName="confpass"/>
            <mat-error *ngIf="resetPasswordForm.get('confpass')?.errors?.['required']">confirming password is required</mat-error>
            <mat-error *ngIf="resetPasswordForm.errors?.['passwordMismatchError']">passwords don't match</mat-error>
          </mat-form-field>
        <button class="conf-button back-yellow" mat-raised-button type="submit">Submit</button>
    </form>
</div>