<app-navbar #child></app-navbar>
<div class="border default-container">
    <h1 class="password-change-title">Reset password</h1>
    <p style="color: #A6A6A6; font-weight: 550; margin-top: 10px;">Type in the code you recieved from SMS that has been sent to you...</p>
    <form [formGroup]="resetPasswordForm" (ngSubmit)="resetPassword()">
          <div class="form-group">
            <ngx-otp-input
              id="otp-input"
              [config]="otpConfig"
              (fill)="onOtpComplete($event)">
            </ngx-otp-input>
          </div>
          
    <p style="color: #A6A6A6;
    font-weight: 550;
    margin-top: 20px;
    margin-bottom: -5px">and now enter new password and confirm it.</p>
          <mat-form-field class="height-50">
            <mat-label>New password</mat-label>
            <input matInput type="password" name="password" formControlName="password" />
            <mat-icon id="eye-icon" matSuffix (click)="isFirstVisible = !isFirstVisible">{{isFirstVisible ? 'visibility' : 'visibility_off'}}</mat-icon>
            <mat-error *ngIf="resetPasswordForm.get('password')?.errors?.['required']">entering password is required</mat-error>
            <mat-error *ngIf="resetPasswordForm.get('password')?.errors?.['passwordRegexError']  && !resetPasswordForm.get('password')?.errors?.['required']">incorrect input/min 6 char</mat-error>
          </mat-form-field>
          <mat-form-field class="height-50">
            <mat-label>Confirm new password</mat-label>
            <input matInput type="password" name="conf-password" formControlName="confpass"/>
            <mat-icon id="eye-icon" matSuffix (click)="isSecondVisible = !isSecondVisible">{{isSecondVisible ? 'visibility' : 'visibility_off'}}</mat-icon>
            <mat-error *ngIf="resetPasswordForm.get('confpass')?.errors?.['required']">confirming password is required</mat-error>
            <mat-error *ngIf="resetPasswordForm.errors?.['passwordMismatchError']">passwords don't match</mat-error>
          </mat-form-field>
        <button class="conf-button back-yellow" mat-raised-button type="submit">Submit</button>
    </form>
</div>