#code-input {
    display: flex;
}

ngx-otp-input {
    margin: 0 auto;
}
 
button {
    margin: 30px auto 12px auto !important;
}


.form-group {
    display: inline-block;
}


@media screen and (max-width: 450px)  {
    .default-container {
        width: 305px;
        margin-top: 45px;
    }

    form {
        width: 100%;
    }
}