<div class="hp-container">
    <div class="cards-container">
        <div class="certificate-card basic-container">
            <div class="certificate-options">
                <i class="fa-solid fa-file-circle-plus certificate-option-request"></i>
                <img src="../../assets/download.svg" class="certificate-option-download" alt="">
            </div>
            <img class="certificate-icon" src="../../assets/certificate.svg" alt="">
            <div class="certificate-info-container">
                <p><span class="light-gray">issued to: </span>Lara Croft - <span class="light-gray">lara@gmail.com</span></p>
                <p><span class="light-gray">issued by:</span> Lara Croft - <span class="light-gray">lara@gmail.com</span></p>
                <p><span class="light-gray">valid from:</span> 13.4.2021. <span class="light-gray">to</span> 13.4.2024.</p>
            </div>
            <div class="certificate-type">
                <p>intermidiate</p>
            </div>
        </div>
        
        <div class="certificate-card basic-container">
            <div class="certificate-options">
                <i class="fa-solid fa-file-circle-plus certificate-option-request"></i>
                <img src="../../assets/download.svg" class="certificate-option-download" alt="">
            </div>
            <img class="certificate-icon" src="../../assets/certificate.svg" alt="">
            <div class="certificate-info-container">
                <p><span class="light-gray">issued to: </span>Lara Croft - <span class="light-gray">lara@gmail.com</span></p>
                <p><span class="light-gray">issued by:</span> Lara Croft - <span class="light-gray">lara@gmail.com</span></p>
                <p><span class="light-gray">valid from:</span> 13.4.2021. <span class="light-gray">to</span> 13.4.2024.</p>
            </div>
            <div class="certificate-type">
                <p>intermidiate</p>
            </div>
        </div>
        
        
        <div class="certificate-card basic-container">
            <div class="certificate-options">
                <i class="fa-solid fa-file-circle-plus certificate-option-request"></i>
                <img src="../../assets/download.svg" class="certificate-option-download" alt="">
            </div>
            <img class="certificate-icon" src="../../assets/certificate.svg" alt="">
            <div class="certificate-info-container">
                <p><span class="light-gray">issued to: </span>Lara Croft - <span class="light-gray">lara@gmail.com</span></p>
                <p><span class="light-gray">issued by:</span> Lara Croft - <span class="light-gray">lara@gmail.com</span></p>
                <p><span class="light-gray">valid from:</span> 13.4.2021. <span class="light-gray">to</span> 13.4.2024.</p>
            </div>
            <div class="certificate-type">
                <p>intermidiate</p>
            </div>
        </div>

        <div class="certificate-card basic-container">
            <div class="certificate-options">
                <i class="fa-solid fa-file-circle-plus certificate-option-request"></i>
                <img src="../../assets/download.svg" class="certificate-option-download" alt="">
            </div>
            <img class="certificate-icon" src="../../assets/certificate.svg" alt="">
            <div class="certificate-info-container">
                <p><span class="light-gray">issued to: </span>Lara Croft - <span class="light-gray">lara@gmail.com</span></p>
                <p><span class="light-gray">issued by:</span> Lara Croft - <span class="light-gray">lara@gmail.com</span></p>
                <p><span class="light-gray">valid from:</span> 13.4.2021. <span class="light-gray">to</span> 13.4.2024.</p>
            </div>
            <div class="certificate-type">
                <p>intermidiate</p>
            </div>
        </div>
    </div>
</div>


